/TD0
/.idea
/.sonarlint
/.metadata
TD1/production
/TD1/production
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath